$border-color: #cccccc;

@mixin full-size {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    @include full-size;
}

.note-main {
    @include full-size;
    padding: 15px;
    /* electron 允许拖拽 */
    -webkit-app-region: drag;
}

#container {
    width: 100%;
    height: 78%;
}

#complete-btn {
    margin: 7px auto 0 auto;
    padding: 4px 8px;
    height: calc(22% - 7px);
    background-color: rgba(255,255,255,0.6);
    border: 1px $border-color solid;
    border-radius: 10px;

    &:hover {
        background-color: rgba(255,255,255,0.8);
        cursor: pointer;
    }
}